		*{
			font-size: 130%;
		}

		body{
			background-image: url("stone-background.jpg");
		}

		h1{
			font-size: 170%;
			color: orange;
			filter: drop-shadow(4px 4px 2px black);
		}

		h1, button{
			font-family: 'Sigmar One', cursive;
			text-align: center;
		}

		.container{
			display: flex;
			flex-direction: column;
		}

		input{
			text-align: center;
			font-weight: bolder;
		}

		#textInput{
			background-color: cyan;
			color: black;
		}

		#keyInput{
			background-color: orange;
		}

		#result{
			background-color: black;
			color: cyan;
			border: grey 5px solid;
			border-radius: 10px;
		}
